.App {
  font-family: sans-serif;
  text-align: center;
}

body {
  background-image: url("https://images.pexels.com/photos/547114/pexels-photo-547114.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  align-items: center;
  display: block;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding-top: 80px;
}

.form-Item__input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #507479;
  color: black;
  font-size: 20px;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #021e22be;
}

.form-Item__label {
  padding-left: 10px;
}

.modal {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 5px;
  color: #333;
  font-family: sans-serif;
  line-height: 1.5;
  max-width: 50%;
  padding: 1rem 2rem;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  .modal {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);
    margin: auto;
  }
  .warning {
    display: none;
  }
}
.header-Item {
  backdrop-filter: url(filters.svg#filter) blur(4px) saturate(150%);
  background-color: #f5f5f5a8;
  top: 0;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}

.form-Item__button {
  display: flex;
  justify-content: space-between;
}
.form-Item__button input[type="submit"] {
  width: 45%;
  padding: 14px 0;
}
